# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/temp
/.tmp

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# vue files
package-lock.json
node_modules
dist

# extension file
/extensions/server/*
!/extensions/server/.gitkeep
